.jukebox {
  @extend .row;
  @extend .align-items-center;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 80vh;

  &__wrapper {
    @extend .container;
  }
  &__cover {
    @extend .col-md-6;
    position: relative;
    
    &-img {
      @extend .img-fluid;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 1px 1px 12px rgba(0,0,0,0.3);
    }
  }

  &__play-pause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    padding: 20px 35px;
    border-radius: 60px;
    background-image: linear-gradient(145deg, $blue-80, darken($blue-80, 25%));
    border: 0;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.3);

    &-icon {
      transform: translateX(3px);
    }
  }

  &__controls {
    @extend .align-items-start;
  }

  &__status {
    margin-bottom: 30px;
  }

  &__track {
    display: block;

    &-name {
      @extend .jukebox__track;
      color: $blue;
      font-size: 1.7rem;
      font-weight: 300;
    }

    &-artist {
      @extend .jukebox__track;
      font-size: 1.2rem;
      font-weight: 400;
    }

    &-album {
      @extend .jukebox__track;
      font-style: italic;
      color: $blue;
    }
  }
}